@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    font-family : "Open Sans", sans-serif;
}

/* root values */

:root {
    --main-color : #f44336;
    --red-color : #e91e63; /* Pink */
    --cyan-color : #00bcd4; /* Cyan */
    --low-blue-color : #2196f3; /* Light Blue */
    --dark-blue-color : #3f51b5; /* Dark Blue */
    --puprle-color : #9c27b0; /* Purple */
    --green-color : #4caf50; /* Green */
    --text-color : #333; /* Dark Gray */
    --font-family : 'Arial', sans-serif; /* Font Family */
}

/* Global styles */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* End of Gloable  */
/* Contact Side Start */

@media (max-width : 600px) {
    h1, h2 {
        font-size : 25px !important;
        margin : 60px 0;
    }
    p {
        font-size : 15px !important;
    }
}

@media (min-width : 600px) and (max-width : 787px) {
    h1, h2 {
        font-size : 35px !important;
    }
    p {
        font-size : 17px !important;
    }
}

.contact {
    position : fixed;
    top : 140px;
    width : 60px;
    z-index : 2;
    right : -30px;
}

.contact i {
    color: white;
    background-color: var(--low-blue-color);
    display: block;
    width: 40px;
    padding: 5px 8px;
    height: 30px;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0;
    border-radius: 35%;
    transition: all 0.4s ease;
}

.contact i:hover {
    color : var(--dark-blue-color);
}

.wanted {
    margin : 60px 0 !important;
}

/* Contact Side End */
/* Header Start */

.landing-status {
    padding-top : 50px;
    padding-bottom : 50px;
    background-image : url("./images/status 1.jpg");
    background-size : cover;
    background-position : center center;
    min-height : 100vh;
    transition : all 0.4s ease-in-out;
    position : relative;
}

.landing-status .header-area .logo {
    width : 20%;
}

.landing-status .header-area .logo img {
    width : 250px;
    margin-top : 15px;
    cursor : pointer;
    margin-left : -20px;
}

@media (max-width : 767px) {
    .landing-status .header-area .logo {
        width : 50% !important;
    }
}

.landing-status .overlay {
    position : absolute;
    left : 0;
    top : 0;
    background-color : rgba(0, 0, 0, 0.7);
    width : 100%;
    height : 100%;
    z-index : 1;
}

.landing-status .header-area {
    color : white;
    display : flex;
    justify-content : space-between;
    position : relative;
    z-index : 2;
    padding : 0 20px;
    align-items : center;
}

.landing-status .header-area .logo a {
    font-size : 45px;
    font-weight : bold;
    cursor : pointer;
}

@media (max-width : 500px) {
    .landing-status .header-area .logo a {
        font-size : 30px;
    }
}

.landing-status .header-area .links .links-section {
    display : flex;
    width : 104%;
    justify-content : flex-end;
    margin-top : 10px;
}

@media (max-width : 767px) {
    .landing-status .header-area .links .links-section {
        display : none;
    }
    .landing-status .header-area .links .logo {
        width : 50% !important;
    }
}

.landing-status .header-area .links .links-section li {
    margin : 0;
    padding : 0;
}

.landing-status .header-area .links .links-section li a {
    font-size : 18px;
    margin-right : 18px;
    transition : all 0.4s ease;
    font-size : 20px;
}

.landing-status .header-area .links .links-section li a:hover {
    color : var(--low-blue-color)
}

.landing-status .header-area .links .toggle-menu {
    width : 30px;
    height : 20px;
    position : relative;
    top : -15px;
    z-index : 10;
    padding : 0 20px;
    cursor : pointer;
}

.landing-status .header-area .links .links-container {
    margin-top : 3px;
    width : 100%;
    position : relative;
    top : 0px;
    z-index : 1;
    padding : 20px;
}

@media (max-width : 767px) {
    .landing-status .header-area .links .links-container.open {
        position : absolute;
        top : 80px;
        background-color : #FFF;
        z-index : 1000;
        flex-direction : column;
        left : 0;
        width : 100%;
        min-height : 200px;
        padding : 10px;
    }

    .landing-status .header-area .links-container.open .links-section {
        display : flex;
        flex-direction : column;
        align-items : center;
        width : 100%;
    }

    .landing-status .header-area .links .links-section li  {
        color : black;
        margin : 10px 0;
        width : 100%;
        text-align : center;
    }
}

.landing-status .header-area .links .toggle-menu span {
    width : 25px;
    height : 3px;
    background-color : white;
    display : block;
    margin : 4px 0 0 -10px;
    transition : all 0.4s ease;
}

.landing-status .header-area .links .toggle-menu.event {
    margin-top : 25px;
}

.landing-status .header-area .links .toggle-menu.event span{
    background-color : var(--low-blue-color);
}

.landing-status .header-area .links .toggle-menu.event span:first-child {
    transform : rotate(45deg);
    top : 6px;
    position : absolute; 
}

.landing-status .header-area .links .toggle-menu.event span:nth-child(2) {
    display : none;
}

.landing-status .header-area .links .toggle-menu.event span:last-child {
    transform : rotate(-45deg);
    top : 6px;
    position : absolute; 
}

.landing-status .text {
    position : absolute;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%);
    text-align : center;
    color : white;
    z-index : 1;
}

@media (max-width : 500px) {
    .landing-status .text {
        text-aling : right;
    }
    .landing-status .text h2 {
        font-size : 25px !important;
    }
    .landing-status .text p {
        font-size : 15px !important;
    }
    .landing-status .text .links {
        flex-direction : column;
        gap : 15px;
    }
    .landing-status .text .links a {
        font-size : 12px !important;
    }
}

.landing-status .text h2 {
    font-size : 45px;
    margin-bottom : 20px;
    font-weight : bold;
}

.landing-status .text p {
    font-size : 20px;
    color : #dddd;
}

.landing-status .text h1 span {
    color : var(--low-blue-color);
}

.landing-status .text .links {
    margin-top : 30px;
    display : inline-flex;
}

.landing-status .text .links a {
    background-color : var(--low-blue-color);
    color : white;
    padding : 10px 20px;
    border-radius : 10px;
    margin : 0 10px;
    transition : all 0.5s ease;
}

.landing-status .text .links a:hover {
    background-color : var(--cyan-color);
    color : white;
}

.landing-status .text h2 {
    font-size : 45px;
    margin-bottom : 20px;
    font-weight : bold;
}

.landing-status .text p {
    font-size : 20px;
    line-height : 2;
}

/* Header End */
/* About Start */

.about {
    padding-top : 80px;
    padding-bottom : 80px;
    background-color : #f4f4f4;
}

.about .text  {
    text-align : center;
}

.about h2 {
    font-size : 45px;
    text-align : center;
    font-weight : 400;
    margin : 20px 0;
}

@media (max-width : 500px) {
    .about .text h2 {
        font-size : 30px !important;
    }
    .about h4 {
        font-size : 20px !important;
    }
    .about h6 {
        font-size : 15px !important;
    }
}

.about .text ul {
    display : flex;
    justify-content : center;
}

.about .text ul li {
    font-size : 20px;
    margin : 0 10px;
    background-color : #f4f4f4;
    padding : 3px 20px;
    border-radius : 25px;
    border : 1px solid #6666;
    transition : all 0.4s ease;
}

.about .text ul li:hover {
    background-color : var(--low-blue-color);
    color : white;
}

.about .text ul .active {
    background-color : var(--low-blue-color);
    color : white;
}

.about .text ul .active:hover {
    background: none;
    color : black;
}

.news-layout {
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px;
    margin: 2rem auto;
    gap: 2rem;
    padding: 0 1rem;
    text-align : right;
    margin : 40px 0;
}

.slider {
    position: relative;
    width: 100%;
    max-height : 700px;
    overflow: hidden;
    border-radius: 10px;
}

.second-slider {
    position: relative;
    width: 100%;
    max-height : 700px;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    height : 800px;
    margin : 0 auto;
    object-fit : cover;
    overflow : hidden;
    flex-shrink: 0;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.prev { 
    left: 10px; 
}

.next { 
    right: 10px; 
}

.prev:hover, .next:hover {
    background: rgba(0,0,0,0.7);
}

/* Second Slider */

.second-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding-top : 60px;
    padding-bottom : 60px;
}

.second-prev, .second-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.second-prev {
    left: 10px;
}

.second-next {
    right: 10px;
}

.main-news {
    flex: 3;
    background: white;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

@media (max-width : 600px) {
    .prev, .next {
    padding: 6px 7px;
    font-size: 12px;
    }
    .second-prev, .second-next {
    padding: 6px 7px;
    font-size: 12px;
    }
}

.side-news {
    flex: 1;
    background: #fff;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.side-news ul {
    list-style: none;
    padding: 0;
}

.news-layout ul li p {
    margin : 10px 0;
    font-size : 20px;
}

.side-news li {
    margin : 20px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .news-layout {
        flex-direction: column-reverse;
    }
    .slide {
        height : auto !important;
    }
}

.about h4 {
    font-size : 25px;
    text-align : center;
    margin : 30px 0;
}

.about h6 {
    font-size : 25px;
    text-align : right;
    margin : 20px 0;
}

.about table {
    width :80%;
    margin : 20px auto 120px auto;
}

.about table tr {
    width : 100%;
    text-align : center;
}

.about table tr th, table tr td {
    border : 1px solid black;
    padding : 10px 0;
    font-size: 18px;
}

/* About End */
/* Footer Start */

.footer {
    padding-top : 20px;
    background-color : var(--low-blue-color);
}

@media (max-width : 550px) {
    .footer .text {
        font-size : 15px !important;
    }
}

.footer .text {
    text-align : center;
    color : white;
    padding : 20px;
    font-size : 20px;
}

.footer .text a {
    margin : 10px 0;
    display : block;
    transition : all 0.4s ease;
}

.footer .text a:hover {
    color : black;
}
/* Footer End */